@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #191919;
}

.btn {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    color: #191919;
    background-color: #F9D783;
    border: 1px solid #F9D783;
    border-radius: 30px;
    padding: 1.5rem 3rem;
    margin-top: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    i {
        margin-left: 5px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: rgb(248, 245, 245);
    }
}

.btn-black {
    border: 1px solid #191919;
    background-color: #191919;
    color: rgb(241, 241, 241);
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    i {
        margin-left: 5px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: white;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    border-radius: 30px;
    padding: 15px 30px;
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    i {
        margin-left: 5px;
        font-size: 0.85em;
    }

    &:hover {
        background-color: #191919;
        border-color: #191919;
        color: rgb(248, 245, 245);
    }
}

.btn-round {
    padding: 15px 20px;
    border: 1px solid #191919;
    border-radius: 50%;
    background-color: #191919;
    text-decoration: none;
    color: rgb(241, 241, 241);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover {
        background-color: white;

        i {
            color: black;
        }
    }
}

.section-title {
    p {
        color: #F94D1C;
        font-size: 1.8rem;
        font-weight: 500;
    }

    h2 {
        font-family: 'DM Sans', sans-serif;
        font-size: 3.5rem;
        font-weight: 700;
        color: #191919;

        @media (min-width:500px) {
            font-size: 4.5rem;
        }
    }
}

.h-3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #191919;
}

// homepage

.wrapper-grid {
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    // <!-- header -->
    header {

        background-color: #F0EFE9;
        padding: 15px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-bars {
                border: none;
                background-color: transparent;
                font-size: 2.5rem;
            }

            .menu {
                display: none;
                flex: 1;

                .top-of-header {
                    display: none;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #DAD9D3;
                    padding-bottom: 10px;

                    .contact-information {
                        display: flex;

                        .contact {
                            border-right: 1px solid #DAD9D3;
                            margin-right: 15px;
                            padding-right: 15px;
                            font-size: 15px;
                            font-weight: 300;

                            &.last {
                                border: none;
                            }

                            i {
                                color: #191919;
                                font-size: 1.2em;
                                margin-right: 10px;
                            }
                        }
                    }

                    .social-media {
                        align-items: center;

                        a {
                            color: #191919;
                            margin-left: 10px;
                            font-size: 1.1em;

                            &:hover {
                                color: #898181;
                            }
                        }
                    }
                }

                .nav-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 10px;

                    nav {

                        a {
                            text-decoration: none;
                            color: #191919;
                            margin-right: 40px;
                            position: relative;

                            &.active {
                                font-weight: 500;
                            }

                            &.active::after,
                            &:hover::after {
                                content: '';
                                position: absolute;
                                font-weight: 500;
                                height: 2px;
                                width: 15px;
                                background-color: #191919;
                                left: 50%;
                                bottom: -3px;
                                transform: translate((calc(50% - 15px)));
                            }
                        }
                    }

                    .btn {
                        padding: 10px 30px;
                    }
                }
            }

            @media (min-width:768px) {
                gap: 70px;

                .menu-bars {
                    display: none;
                }

                .menu {
                    display: block;
                }
            }

            @media (min-width:1200px) {
                .menu {
                    .top-of-header {
                        display: flex;
                    }
                }
            }
        }
    }

    // <!-- section 1 - showcase -->
    .showcase {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .showcase-lines {
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content {

            h1 {
                font-family: 'DM Sans', sans-serif;
                text-align: center;
                font-size: 4.5rem;
                font-weight: 700;
                padding-top: 30px;
            }

            p {
                text-align: center;
                font-size: 2rem;
                padding: 20px 40px 30px;
            }
        }

        .section-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                margin-bottom: 20px;
            }
        }

        .showcase-image {
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-right: -50px;
        }

        @media (min-width:992px) {

            .content h1 {
                font-size: 60px;
            }

            .section-buttons,
            a {
                flex-direction: row;
                margin-right: 10px;
            }
        }

        @media (min-width:1200px) {

            .showcase-image {
                display: flex;
            }

            .content {
                h1 {
                    font-size: 8.6rem;
                    font-weight: 700;
                    text-align: start;
                }

                p {
                    text-align: left;
                    padding: 20px 0 30px 0;
                }
            }

            .section-buttons {
                justify-content: left;
            }
        }
    }

    // <!-- section 2 - brands -->
    .brands-section {

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            padding-top: 30px;

            img {
                width: 140px;

                @media (min-width:576px) {
                    width: 224px
                }
            }

            @media (min-width:1200px) {
                flex-direction: row;
                justify-content: space-between;
                margin-top: 70px;
                margin-bottom: 150px;
                padding-top: 0;
            }
        }
    }

    // <!-- section 3 - features -->
    .features-section {

        .container {
            outline: 1px solid #DAD9D3;
            outline-offset: 1rem;
            padding: 0 10px 25px 10px;

            h2 {
                padding-bottom: 35px;
            }

            .btn {
                text-align: center;
                display: block;
            }

            .content {
                display: grid;
                grid-template-areas: 'features-1'
                    'features-2'
                    'features-3'
                    'features-4';
                row-gap: 20px;
                margin-top: 50px;

                .plus-icon {
                    position: relative;

                    .plus1 {
                        position: absolute;
                        font-size: 9px;
                        top: -12px;
                        left: 13px;
                    }

                    .plus2 {
                        position: absolute;
                        font-size: 9px;
                        top: -8px;
                        left: 35px;
                    }

                    .plus3 {
                        position: absolute;
                        font-size: 9px;
                        top: 9px;
                        left: 46px;
                    }
                }

                .features-1 {
                    grid-area: features-1;
                }

                .features-2 {
                    grid-area: features-2;
                }

                .features-3 {
                    grid-area: features-3;
                }

                .features-4 {
                    grid-area: features-4;
                }

                article {
                    justify-content: space-between;

                    img {
                        margin-bottom: 30px;
                    }
                }
            }

            @media(min-width:576px) {
                .content {
                    display: grid;
                    grid-template-areas: 'features-1 features-2'
                        'features-3 features-4';
                }
            }

            @media (min-width:1200px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                outline-offset: 70px;

                .section-title {
                    margin-right: 100px;
                    margin-top: 30px;
                    margin-bottom: 150px;
                }

                .content {
                    column-gap: 50px;
                    row-gap: 50px;
                    margin-top: 30px;
                    padding-right: 100px;
                }
            }
        }
    }

    // <!-- section 4 - about company -->
    .about-section {
        padding-bottom: 130px;

        .container {
            display: flex;
            gap: 200px;
            margin-top: 100px;
            position: relative;
            padding: 0 10px;
        }

        .picture {
            display: none;
            margin-left: 40px;

            .samatha-lines {
                position: absolute;
                top: 33px;
                left: 20px;
            }

            .blue-square {
                background-color: #BEEBFF;
                position: absolute;
                bottom: 40px;
                left: 0px;
                padding: 40px 40px 40px 20px;

                p {
                    color: #191919;
                    font-style: italic;
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                h3 {
                    font-size: 2rem;

                    span {
                        color: #F94D1C;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .section-title {
            h2 {
                padding-bottom: 20px;
                margin-right: 40px;
            }

            .about-p {
                color: #191919;
                margin-bottom: 40px;
            }

            .btn-black {
                margin-right: 30px;
            }

            .btn-video-text {

                display: flex;
                align-items: center;

                .btn-round {
                    background-color: white;
                    color: #191919;
                }

                p {
                    margin-top: 15px;
                    margin-left: 20px;
                    color: #191919;
                    font-weight: 600;
                    font-size: 1.6rem;
                }
            }
        }

        @media (max-width:373px) {

            .btn-video-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn-black {
                    margin-bottom: 20px;
                }
            }
        }

        @media (min-width:1200px) {
            padding-top: 110px;

            .picture {
                display: block
            }

            .section-title {

                .about-p {
                    margin-bottom: 130px;
                }
            }
        }
    }

    // <!-- section 5 - our services -->
    .our-services {
        background-color: #F0EFE9;
        margin-bottom: 70px;
        position: relative;

        .white-lines {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .container {
            padding-top: 130px;
            padding-bottom: 130px;
        }

        .section-title {
            text-align: center;
            margin-bottom: 45px;
        }

        .services-boxes {

            a {
                text-decoration: none;

                .service-box {
                    background-color: white;
                    margin-bottom: 20px;
                    padding: 45px 30px 60px;
                    border-radius: 10px;

                    .line {
                        width: 40px;
                        height: 40px;
                        border-top: 2px solid #191919;
                    }

                    p {
                        color: #191919;
                        line-height: 30px;
                        font-size: 1.6rem;
                    }

                    .button {
                        margin-top: 20px;
                        text-align: end;

                        .btn-round {
                            display: inline-block;
                        }
                    }

                    &:hover {
                        background-color: #F9D783;
                        transform: scale(1.05);
                        box-shadow: 10px 10px 20px #191919;
                        transition: background-color 0.2s ease-in;

                        .btn-round {
                            background-color: white;
                            border-color: white;

                            i {
                                color: #191919;
                            }
                        }
                    }

                    transition: background-color 0.2s ease-out;

                    &:active {
                        transform: scale(1.02);
                    }
                }
            }
        }

        .browse-btn {
            padding-top: 40px;
            text-align: center;
        }

        @media(min-width:992px) {
            .section-title {
                text-align: left;
            }

            .services-boxes {
                display: flex;
                gap: 30px;
            }
        }
    }


    // <!-- section 6 - why choose us -->
    .why-choose-us {

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .experience-box {

            .section-title {
                text-align: center;
                margin-bottom: 50px;
                max-width: 395px;
            }
        }

        .icons-and-text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img {
                max-width: 60px;

                &.last-image {
                    margin-bottom: 0px;
                }
            }

            .icon-text {

                h3 {
                    margin-top: 8px;
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }
        }

        .background-box {
            display: none;
            background-color: #F0EFE9;
            height: 420px;
            min-width: 100vw;
            margin-top: 200px;
            margin-left: 150px;

            img {
                position: absolute;
                top: 30px;
                right: 0;
            }
        }

        @media (min-width:500px) {
            .experience-box .section-title {
                text-align: left;
                width: 395px;
            }

            .icons-and-text-box {
                flex-direction: row;
                text-align: left;
                margin-bottom: 25px;

                .icon-text {
                    padding-top: 15px;
                }

                img {
                    display: block;
                    margin-right: 25px;
                }
            }
        }

        @media (min-width:1200px) {

            .container {
                justify-content: flex-start;

                .background-box {
                    display: flex;

                    img {
                        @media (max-width:1400px) {
                            width: 600px;
                            right: -45px;
                            top: 100px;
                        }
                    }
                }
            }
        }
    }

    // <!-- section 7 - project and case -->
    .project-and-case-section {
        margin-bottom: 160px;

        .container {
            margin-top: 100px;
            padding: 0 10px;
        }

        .section-title {
            margin-bottom: 65px;
            text-align: center;
        }

        .articles {
            display: grid;
            padding-bottom: 70px;

            .image-box {
                border: 3px solid transparent;

                a {
                    text-decoration: none;

                    img {
                        width: 100%;
                    }

                    h3 {
                        padding-top: 30px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #DAD9D3;
                    }

                    p {
                        font-family: 'Inter', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #191919;
                        text-align: end;
                        padding-right: 15px;
                        padding-top: 25px;

                        i {
                            margin-left: 5px;
                            font-size: 0.85em;
                        }
                    }
                }

                &:hover {
                    border-color:steelblue;
                }
            }
        }

        .button {
            text-align: center;
        }

        @media (min-width:1200px) {

            .articles {
                gap: 30px;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    // <!-- section 8 - meet our team -->
    .meet-our-team {
        background-color: #F9D783;
        padding-top: 140px;
        padding-bottom: 200px;
        margin-bottom: 125px;

        .top-part {

            .section-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;
            }

            .employees {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .employee img {
                    width: 90%;
                    margin-bottom: 30px;
                }
            }

            .circles {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 75px;
                margin-top: 40px;

                .circle {
                    border: 1px solid #C3AB70;
                    height: 14px;
                    width: 14px;
                    margin-right: 15px;
                    border-radius: 50%;
                    background-color: #C3AB70;

                    &.active,
                    &:hover {
                        background-color: #191919;
                    }
                }
            }
        }

        .whitebox {
            background-color: white;
            margin-top: 120px;
            outline: 100px solid white;
            padding: 1px;

            .section-title {
                text-align: center;
                margin-bottom: 80px;
            }

            .rating-boxes {
                display: flex;
                flex-direction: column;
                margin-bottom: 120px;
                align-items: center;

                .ratingbox {
                    max-width: 370px;
                    border-bottom: 1px solid black;
                    margin-bottom: 40px;

                    p {
                        margin-top: 30px;
                        margin-bottom: 50px;
                        font-weight: 600;
                        font-size: 1.8rem;
                        font-style: italic;
                    }

                    .rating-person {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        margin-bottom: 15px;

                        .name {
                            margin-left: 20px;

                            p {
                                margin-top: 0px;
                                margin-bottom: 0px;
                                color: #F94D1C;
                            }
                        }
                    }
                }
            }

            .button {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        @media (min-width:992px) {

            .top-part {

                .section-title {
                    flex-direction: row;
                    margin-bottom: 70px;
                    align-items: flex-end;
                }

                .employees {
                    margin-bottom: 50px;
                    justify-content: space-between;

                    .employee {

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .whitebox {

                .rating-boxes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 120px;

                    .ratingbox {
                        margin-bottom: 0px;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    // <!-- section 9 - article and news -->
    .articles-and-news {

        .heading-and-btn {

            .section-title {
                margin-bottom: 60px;
            }

            .transparent-btn {
                margin-bottom: 7px;
            }
        }

        .guide-boxes {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 80px;

            img {
                max-width: 90%;
            }

            a {
                text-decoration: none;

                .guide-box {
                    border: 3px solid transparent;
                    margin-right: 20px;
                    position: relative;

                    &.last {
                        margin-right: 0px;
                    }

                    .article-pic {
                        margin-bottom: 30px;
                    }

                    h3 {
                        line-height: 30px;
                        margin-bottom: 15px;
                    }

                    p {
                        color: #191919;
                    }

                    p:last-child {
                        margin-bottom: 50px;
                    }

                    .date-image {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        width: 55px;
                    }

                    &:hover {
                        border-color:#F9D783;
                    }
                }
            }
        }

        .circles {
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                border: 1px solid #d7d4cc;
                height: 14px;
                width: 14px;
                margin-right: 15px;
                border-radius: 50%;
                background-color: #d7d4cc;

                &.active,
                &:hover {
                    background-color: #191919;
                }
            }
        }

        @media (min-width:768px) {
            .guide-boxes a .guide-box .date-image {
                left: 150px;
            }
        }

        @media (min-width:992px) {
            .heading-and-btn {
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin-bottom: 50px;

                .section-title {
                    margin-bottom: 0px;
                }
            }

            .guide-boxes {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                margin-bottom: 40px;
                margin-top: 0;

                a {
                    .guide-box {

                        .date-image {
                            left: 15px;
                        }

                        img {
                            max-width: 100%;
                        }

                        p {
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    // <!-- secion 9 - get news updates -->
    .news-updates {
        background-color: #F0EFE9;
        padding: 80px 0;
        margin-top: 80px;
        position: relative;
        z-index: 0;

        .section-nine-lines {
            display: block;
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 40px;
        }

        .container,
        .section-title {
            text-align: center;
        }

        .subscribe-box {
            margin-top: 40px;
            display: inline-block;

            .mail-window {
                background-color: white;
                border-radius: 25px;
                padding: 15px;

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }

            button {
                margin-top: 30px;
            }
        }

        @media (min-width:1200px) {

            .container,
            .section-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .subscribe-box {
                    display: flex;
                    align-items: center;
                    margin-top: 0px;

                    .mail-window {
                        margin-right: 25px;
                        padding: 15px 80px 15px 20px;
                    }

                    button {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    // <!-- footer -->
    .footer-section-one {

        padding-top: 70px;
        background-color: #191919;
        position: relative;

        .footer-lines {
            position: absolute;
            right: 0;
            bottom: 114px;
        }

        .container {

            .box1 {
                display: none;
                color: rgb(217, 217, 217);
                max-width: 320px;

                img {
                    margin-bottom: 45px;
                }
            }

            .grid-box {

                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 0 auto 0 auto;
                font-size: 2rem;

                h3 {
                    color: red;
                    font-size: 3rem;
                }

                .list {
                    padding-top: 70px;

                    .h-3 {
                        color: rgb(217, 217, 217);
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin-top: 35px;

                        a {
                            text-decoration: none;
                            color: rgb(217, 217, 217);
                            font-weight: 500;
                            line-height: 40px;

                            &:hover {
                                color: #898181;
                            }
                        }
                    }
                }
            }
        }

        .footer-section-two {
            border-top: 1px solid #3E404D;
            margin-top: 60px;
            padding-bottom: 30px;

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgb(217, 217, 217);
                margin-top: 30px;

                p {
                    margin-bottom: 0;
                }

                .social-media {
                    align-items: center;

                    a {
                        color: rgb(217, 217, 217);
                        margin-left: 10px;
                        font-size: 1.1em;

                        &:hover {
                            color: #898181;
                        }
                    }
                }
            }
        }


        @media (min-width:768px) {

            .footer-lines {
                bottom: 87px;
            }

            .container {

                .grid-box {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    text-align: center;

                    h3 {
                        font-size: 2.2rem;
                    }
                }
            }
        }

        @media (min-width:1200px) {

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .box1 {
                    display: block;
                }

                .grid-box {
                    font-size: 1.6rem;
                    column-gap: 30px;
                    text-align: left;
                }
            }
        }

        @media (min-width:1400px) {

            .container {
                gap: 100px;

                .grid-box {
                    column-gap: 70px;
                }
            }
        }
    }

    // Contact-page

    // <!-- showcase -->
    .showcase {

        .showcase-title {
            padding-top: 110px;
            padding-bottom: 60px;
            text-align: center;
            margin: 0 auto;

            h1 {
                font-family: 'DM Sans', sans-serif;
                margin-top: 15px;
                font-weight: 700;
                font-size: 4.5rem;
                color: #191919;
            }

            a {
                text-decoration: none;
                color: #191919;
                margin-left: 10px;
            }

            @media (min-width:992px) {
                h1 {
                    font-size: 5.6rem;
                }
            }
        }
    }

    // <!-- contact-boxes -->
    .contact-boxes {
        margin-top: 110px;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .contact-box {
                display: inline-block;
                padding: 45px 25px 60px;

                h3 {
                    margin-bottom: 25px;
                }

                p {
                    line-height: 15px;
                    font-size: 1.8rem;
                }

                img {
                    padding-right: 30px;
                    margin-top: -80px;
                }
            }

            @media (min-width:1400px) {
                .contact-box {
                    display: flex;
                    padding: 60px 100px 35px 60px;
                    border: 1px solid #DAD9D3;
                    margin-bottom: 90px;
                }
            }
        }
    }

    // <!-- message - section -->
    .message {

        .container {
            background-color: #F0EFE9;
            padding-top: 150px;
            padding-bottom: 100px;

            .section-title {
                text-align: center;
            }

            .inner-container {
                max-width: 1040px;
                max-height: 460px;
                display: block;
                margin: 0 auto;
                padding: 0 20px;

                input {
                    display: block;
                    margin: 20px auto 20px;
                    border-radius: 30px;
                    padding: 15px 30px;
                    width: 100%;
                    border: none;
                }

                textarea {
                    display: block;
                    border-radius: 40px;
                    padding: 15px 30px;
                    resize: none;
                    margin: 0 auto 40px;
                    width: 100%;
                    height: 180px;
                    border: none;
                }

                button {
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }

    // <!-- map -->
    .map {
        margin-top: 100px;

        iframe {
            width: 100vw;
            height: 620px;
        }
    }
}