@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;600;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #191919;
}

.container {
  padding: 0;
}

.btn {
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  color: #191919;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 30px;
  padding: 1.5rem 3rem;
  margin-top: none;
}
.btn i {
  margin-left: 5px;
  font-size: 0.85em;
}
.btn:hover {
  background-color: #191919;
  border-color: #191919;
  color: rgb(248, 245, 245);
}

.section-title p {
  color: #F94D1C;
  font-size: 1.8rem;
  font-weight: 500;
}
.section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #191919;
}

.h-3 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #191919;
}

.wrapper-grid {
  overflow-x: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.wrapper-grid header {
  background-color: #F0EFE9;
  padding: 15px;
}
.wrapper-grid header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-grid header .container .menu-bars {
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
}
.wrapper-grid header .container .menu {
  display: none;
  flex: 1;
}
.wrapper-grid header .container .menu .top-of-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
.wrapper-grid header .container .menu .top-of-header .contact-information {
  display: flex;
}
.wrapper-grid header .container .menu .top-of-header .contact-information .contact {
  border-right: 1px solid #DAD9D3;
  margin-right: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: 300;
}
.wrapper-grid header .container .menu .top-of-header .contact-information .contact.last {
  border: none;
}
.wrapper-grid header .container .menu .top-of-header .contact-information .contact i {
  color: #191919;
  font-size: 1.2em;
  margin-right: 10px;
}
.wrapper-grid header .container .menu .top-of-header .social-media {
  align-items: center;
}
.wrapper-grid header .container .menu .top-of-header .social-media a {
  color: #191919;
  margin-left: 10px;
  font-size: 1.1em;
}
.wrapper-grid header .container .menu .top-of-header .social-media a:hover {
  color: #898181;
}
.wrapper-grid header .container .menu .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.wrapper-grid header .container .menu .nav-header nav a {
  text-decoration: none;
  color: #191919;
  margin-right: 4rem;
  position: relative;
}
.wrapper-grid header .container .menu .nav-header nav a.active {
  font-weight: 500;
}
.wrapper-grid header .container .menu .nav-header nav a.active::after, .wrapper-grid header .container .menu .nav-header nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 0.2rem;
  width: 1.5rem;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
.wrapper-grid header .container .menu .nav-header .btn {
  padding: 1rem 3rem;
}
@media (min-width: 768px) {
  .wrapper-grid header .container {
    gap: 70px;
  }
  .wrapper-grid header .container .menu-bars {
    display: none;
  }
  .wrapper-grid header .container .menu {
    display: block;
  }
}
@media (min-width: 1200px) {
  .wrapper-grid header .container .menu .top-of-header {
    display: flex;
  }
}